<div>
  <app-navbar></app-navbar>
  <section class="content">
    <h1 class="title">Lista de productos</h1>
    <div class="list-group">
      <span>Polos disponibles</span>
    </div>
    <div class="list-free">
      <span class="sub-title">Hombre</span>
      <div class="list">
        <div class="list-group-content">
          <img src="../assets/negro.jpg" alt="Polo giant negro" width="100%" height="100%">
          <span class="name">Polo giant negro</span>
          <span class="talla">Tallas: <span class="span">M, L</span></span>
          <span class="precio">Precio: <span class="span">S/50</span></span>
          <a class="btn" href="https://wa.me/970218896?text=Hola,%20quiero%20comprar%20el%20Polo%20giant%20negro" target="_blank">Comprar</a>
        </div>
        <div class="list-group-content">
          <img src="../assets/blanco.png" alt="Polo giant blanco" width="100%" height="100%">
          <span class="name">Polo giant blanco</span>
          <span class="talla">Tallas: <span class="span">M, L</span></span>
          <span class="precio">Precio: <span class="span">S/50</span></span>
          <a class="btn" href="https://wa.me/970218896?text=Hola,%20quiero%20comprar%20el%20Polo%20giant%20blanco" target="_blank">Comprar</a>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <a class="instagram-link" href="https://www.instagram.com/giant.pe/" target="_blank">
      <img class="icon" src="../assets/instagram.png" alt="Instagram" class="instagram-icon"> Síguenos en Instagram
    </a>
  </footer>
</div>
